
<form method="post" action="/pass-change/"{{token}}>
    <div class="form-group">
        <label for="new-pass">Nueva pass</label>
        <input type="password" name="new-pass" placeholder="Ingrese su nueva pass" class="form-control" id="new-pass" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>